{% extends "layout.jinja2" %}
{% block title %}Sign In{% endblock %}
{% block body %}
  <h2>Sign In</h2>
  {% if error %}
    <div class="error"><strong>Error:</strong> {{ error }}</div>
  {% endif %}
  <p> Hello world! </p>
{% endblock %}
